* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 100px 50px 30px 50px;
}

.app {
    display: flex;
    gap: 10px;
}

.app .side1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

h3 {
    letter-spacing: 4px;
    font-size: 19px;
    margin-bottom: 3px;
    font-weight: 550;
}

p {
    color: rgb(171, 171, 171);
    text-align: center;
    font-size: 20px;
    line-height: 29px;
}

.app p {
    color: rgb(170, 170, 170);
    text-align: center;
    font-size: 20px;
    margin-right: 55px;
}

.download {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 40px 30px 0;
    gap: 15px;
}

.app img[width=450px] {
    flex: 1;
}

.channel {
    margin-top: 40px;
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.channel .mobiles {
    width: 400px;
}

.channel .side2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    position: relative;
    bottom: 30px;
}

.channel .side2 h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

.channel .side2 p {
    font-size: 24px;
}

.message {
    display: flex;
    gap: 60px;
    position: relative;
    top: -60px;
}

.message .side1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin-left: 50px;
}

.message .side1 h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

.message .side1 p {
    font-size: 24px;
}

.message .mobiles {
    width: 400px;
}

.future {
    display: flex;
    align-items: start;
    position: relative;
    top: -60px;
}

.future .mobiles {
    width: 450px;
}

.future .side2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
}

.future .side2 .vec {
    width: 420px;
    margin-bottom: 30px;
    margin-top: 97px;
    position: relative;
    right: 55px;
}

.future .side2 h3,
.future .side2 p {
    position: relative;
    right: 20px;
}

.future .side2 h3 {
    font-size: 27px;
    margin-bottom: 20px;
}

.future .side2 p {
    width: 300px;
    font-size: 22px;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: verdana;
    position: relative;
    top: -40px;
}

.footer p {
    color: black;
}

.footer .download {
    margin: 20px 0 40px 0;
}

.footer .anchor {
    font-size: 14px;
}

.footer .anchor a {
    color: lightskyblue;
    text-decoration: none;
}

.peratude {
    position: relative;
    top: 30px;
}
