* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 60px 50px 30px 50px;
}

.app {
    display: flex;
    gap: 10px;
}

.app .side1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
h3{
    letter-spacing: 3px;
    font-size: 22px;
    margin-bottom: 3px;
}
p{
    color: gray;
}
.download{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    gap: 5px;
}
.channel{
    margin-top: 40px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.channel .mobiles{
    width: 400px;
    flex: 1;
}
.channel .side2{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.channel .side2 h3{
    font-size: 28px;
    margin-bottom: 20px;
}
.channel .side2 p{
    font-size: 24px;
}
.message{
    display: flex;
    gap: 10px;
    position: relative;
    top: -60px;
}
.message .side1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin-left: 50px;
}
.message .side1 h3{
    font-size: 28px;
    margin-bottom: 20px;
}
.message .side1 p{
    font-size: 24px;
}
.message .mobiles{
    width: 400px;
}
.future{
    display: flex;
    gap: 8px;
    align-items: start;
    position: relative;
    top: -60px;
}
.future .mobiles{
    width: 400px;
}
.future .side2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
}
.future .side2 .vec{
    width: 420px;
    margin-bottom: 30px;
    margin-top: 77px;
    position: relative;
    right: 55px;
}
.future .side2 h3{
    font-size: 27px;
    margin-bottom: 20px;
}
.future .side2 p{
    font-size: 22px;
}
.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: verdana;
    position: relative;
    top: -40px;
}
.footer p{
    color: black;
}
.footer .download{
    margin: 20px 0 40px 0;
}
.footer .anchor{
    font-size: 14px;
}
.footer .anchor a{
    color: lightskyblue;
    text-decoration: none;
}
.peratude{
    position: relative;
    top: 30px;
}
